body {
  background-color:#0F70B7;
  margin: none;
  padding-left: 0px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.nav a {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 14px;
  text-transform: uppercase;
  text-decoration:none;
}

.nav li {
  display: inline;
}
.navbar-default {
  padding-top:30px;
  padding-bottom: 20px;
  background-color: #15609C;
  border: none;
}

h1 {
  font-size: 26px;
  line-height:150%;
  padding: 0;
}

h2 {
  font-size: 20px;
  line-height:150%;
}

h3 {
  font-size: 18px;
  line-height:250%;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  padding: 15px 0px;
}
.sessao-bunitinha {
  color:#ffffff;
  padding-top: 20px;
  padding-bottom: 40px;
}
.quem1 {
  background-color: #0F70B7;
}
.quem2 {
  background-color: #12A19A;
}
.quem3 {
  background-color: #DADADA;
}

.vc {
  background-color: #ffffff;
  padding: 5%;
}

.dp {
  background-color: #DADADA;
  padding:0px;
}

.lorem {
  padding-top:20px;
  padding-bottom:20px;
  padding-left:5%;
  padding-right:5%;
  padding-top:50px;
  background-color: #DADADA;
}
.tab-pane {
  padding: 5%;
}

.btn {
border: none;
border-radius: 0;
color: white;
width: 30%;
}

.btn-danger {
  background-color:#B3B2B2;
}

.btn-default {
  background-color:#C6C6C6;
}

.btn-primary {
  background-color:#B3B2B2;
}
